.header {
    background: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ECECEC;
    position: relative;
    @include tablet {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    @include desktop {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.header .container {
    display: flex;
    align-items: center;
}

.header-company-name1 {
    color: #2196F3;
    margin-right: 93px;
}

.header-company-name2 {
    color: #212121;
}

.header-company-name1,
.header-company-name2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    @include desktop {
        text-decoration: none;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }
}

.header-gmail {
    display: none;
    @include tablet {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: #757575;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &:hover {
            color: #2196F3;
        }
        &:focus {
            color: #2196F3;
        }
        &:hover .header-contact-logo {
            fill: #2196F3;
        }
        &:focus .header-contact-logo {
            fill: #2196F3;
        }
    }
    @include desktop {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        margin-right: 50px;
        color: #757575;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        &:hover {
            color: #2196F3;
        }
        &:focus {
            color: #2196F3;
        }
        &:hover .header-contact-logo {
            fill: #2196F3;
        }
        &:focus .header-contact-logo {
            fill: #2196F3;
        }
    }
}

.header-tel {
    display: none;
    @include tablet {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: #757575;
        display: flex;
        align-items: center;
        &:hover {
            color: #2196F3;
        }
        &:focus {
            color: #2196F3;
        }
        &:hover .header-contact-logo {
            fill: #2196F3;
        }
        &:focus .header-contact-logo {
            fill: #2196F3;
        }
    }
    @include desktop {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        display: flex;
        align-items: center;
        &:hover {
            color: #2196F3;
        }
        &:focus {
            color: #2196F3;
        }
        &:hover .header-contact-logo {
            fill: #2196F3;
        }
        &:focus .header-contact-logo {
            fill: #2196F3;
        }
    }
}

/* Navigation */

.header-nav-buttons {
    display: none;
    @include tablet {
        display: block;
        text-decoration: none;
        color: #212121;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        &:hover {
            color: #2196F3;
        }
        &:focus {
            color: #2196F3;
        }
    }
    @include desktop {
        display: block;
        text-decoration: none;
        color: #212121;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        &:hover {
            color: #2196F3;
        }
        &:focus {
            color: #2196F3;
        }
    }
}

.studio {
    color: #2196F3;
}

.studio::after {
    content: "";
    width: 48px;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    transform: translate(-100%)
}

.navigate-list {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.navigate-item {
    margin-right: 50px;
}

/* Contacts */

.header-contact-list {
    display: flex;
    @include tablet {
        display: block;
    }
    @include desktop {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
}

.header-contact-logo {
    @include tablet {
        margin-right: 8px;
        fill: #757575;
        cursor: pointer;
    }
    @include desktop {
        margin-right: 10px;
        fill: #757575;
        cursor: pointer;
    }
}