.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.button-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 2.14;
    letter-spacing: 0.06em;
    color: var(--main-color);
    background: #2196F3;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 50px;
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}