.portfolio {
    color: #2196F3;
}

.portfolio::after {
    content: "";
    width: 78px;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
}

.page-buttons-portfolio:after {
    bottom: 0;
    transform: translate(-100%);
}

