.work-title, .team-section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.work-title {
    margin-bottom: 50px;
}

.work-images {
    display: flex;
}

.work-item {
    margin-right: 30px;
    flex-basis: calc(100% / 3 - 30px);
}

.work-container {
    position: relative;
    height: 294px;
}

.work-container > .work-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    padding: 27px 0;
    width: 100%;
    margin: 0;
    background: rgba(47, 48, 58, 0.8);
}

.work-section {
    padding-top: 0;
}