body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

ul, ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    padding-bottom: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.button {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}